[Desktop Entry]
Name=Hello World
GenericName=Hello
Comment=Hello World program with GTK4
Exec=hello
Terminal=false
Type=Application
Icon=hello
Categories=Utility
Keywords=GTK4
